@tailwind base;
@tailwind components;
@tailwind utilities;

header img.w-1\/2 {
    width: 100px;
}

.h-screen{
    height: 70vh;
}
h1{
    font-size: 2rem !important;
    color: #00ff00;
}

h2{
    font-size: 1.5rem !important;
    color: #00ff00;
    font-style: italic;
    text-align: center
}

.left-container{
    margin: 50px;
    border: 1px solid #00ff00;
    width: 300px;
    color: #00ff00
}

button#walletButton {
    padding: 9px 16px;
    max-height: 40px;
    margin: 10px;
    border: 1px solid #00ff00;
    color: #00ff00;
    background-color: white;
    border-radius: 8px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    font-weight: bold;
    cursor:pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10000;
  }
  

button svg{
    color: #00ff00;
}



button{
    padding: 20px;
}

Button.btn-primary, input[type="file"]{
    background-color: transparent !important;
    margin: 50px;
    color: #00ff00 !important;
    border-color: #00ff00 !important;

}

.data-container{
    margin: 50px;
}

input{
    padding: 20px;
    width: 250px;
    border: 1px solid #00ff00;
    margin: 0 20px !important;
}

label{
    padding: 20px;
}

img.selected-image{
    margin: 0 auto;
}

.image-container button{
    display: block;
    margin: 0 auto;
}

footer{
    font-family: arial;
    margin: 20px;
    color: #00ff00;
    float: right;
}

footer a, footer a:hover, footer a:active{
    color: #00ff00;
    text-decoration: underline;
}
